<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.master 
    '${i18n("loginApplicationTitle")} : ${i18n("auth.login.title")}' 
    '<link href="${basepath}assets/static/css/login.css" rel="stylesheet">'
>    
	
	<div class="container">
	
	
		<div class="row" style="padding-bottom: 40px; text-align:center;">
	      <div class="col-md-3"></div>
	      <div class="col-md-6">
	      	<h1>${i18n('auth.login.heading')}</h1>
	      	
	      	
	      	<#if (flash.error)??>
            <div class="alert alert-danger" role="alert">
                 <i class="fa fa-times-circle">&nbsp;</i>
                 <strong>${i18n("base.error")}:&nbsp;</strong>
                 <span>${flash.error}</span>
             </div>
             </#if>
             
            <#if (flash.success)??>
            <div class="alert alert-info" role="alert">
                 <i class="fa fa-info">&nbsp;</i>
                 <span>${flash.success}</span>
             </div>
             </#if>
	      	
	      	
	      </div>
	      <div class="col-md-3"></div>
	    </div>
	    
	    <div class="row">
	      <div class="col-md-3"></div>
	      <div class="col-md-6" style="text-align:center;">
	      	<img src="${basepath}assets/static/images/Google_2015_logo.svg" style="width:200px"/>
	      </div>
	      <div class="col-md-3"></div>
	    </div>
	    
	    <div class="row">
	      <div class="col-md-3"></div>
	      <div class="col-md-6">
	      	<blockquote>
	      	<p>${i18n('auth.login.description')}</p>
	      	</blockquote>
	      </div>
	      <div class="col-md-3"></div>
	    </div>
	    
	    
	    
	    <div class="row">
	      <div class="col-md-4"></div>
	      <div class="col-md-4">
	      
	      	<form class="form-signin">
		        <a href="${basepath}startauth" class="btn btn-lg btn-success btn-block" type="submit"><i class="fa fa-google"></i>: ${i18n("auth.login.button")}</a>
		    </form>
	      	
	      </div>
	      <div class="col-md-4"></div>
	    </div>
	
    </div> <!-- /container -->
    
    
    <footer class="footer">
      <div class="container">
       <p class="text-muted"> &copy; ${year} Henrik Binggl | <i class="fa fa-lock"></i> ${i18n("loginApplicationTitle")} application</p>
      </div>
    </footer>
    
   
</@layout.master>